body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}   


.container{
    position:absolute;
    width:720px;
    top:50% ;
    left:75%;
    transform: translate(-50%,-50%);

}
.btn-hero{
    position:absolute;
    top:150% ;
    left:17%;
    transform: translate(-50%,-50%);
    padding-top: 1rem;
    padding-right: 1rem;
    
}
@media only screen and (max-width: 720px) {
    .container{
        left: 60%;
    }
    .btn-hero{
        left:35%;
    }

}